{
  "openapi": "3.0.3",
  "info": {
    "description": "This is the microservice for Sequspace achievements, handling shining stars and other awards.",
    "title": "Sequspace Achievements API",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "name": "API Support",
      "email": "support@sequspace.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://sequachievementapi.sequspace.com/api/v1",
      "description": "production server"
    },
    {
      "url": "http://localhost:{port}/api/v1",
      "variables": {
        "port": {
          "default": "4005"
        }
      }
    }
  ],
  "paths": {
    "/achievements/shining-star": {
      "get": {
        "description": "Get a list of all shining stars across the system",
        "produces": [
          "application/json"
        ],
        "tags": [
          "achievements"
        ],
        "summary": "Get all shining stars",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new shining star achievement for a user with a certificate upload",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "achievements"
        ],
        "summary": "Create a new shining star achievement",
        "parameters": [
          {
            "type": "integer",
            "description": "User ID",
            "name": "user_id",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Achievement Type (e.g. Task Master, Consistency Star, Speed Performer, Deadline Champion, Productivity Pro)",
            "name": "type",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Description",
            "name": "description",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "format": "binary",
            "description": "Certificate File",
            "name": "certificate",
            "in": "formData",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/achievements/shining-star/{user_id}": {
      "get": {
        "description": "Get a list of shining stars for a specific user",
        "produces": [
          "application/json"
        ],
        "tags": [
          "achievements"
        ],
        "summary": "Get user's shining stars",
        "parameters": [
          {
            "type": "integer",
            "description": "User ID",
            "name": "user_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}
